{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Courses {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block stylesheets %}  {% endblock %}
</head>
<body>

    {% include 'layouts/_nav.html' %}
    <div class="wrapper">
        
        {% block content %} {% endblock content%}

        
        {% include 'layouts/_footer.html' %}

       
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'courseList/js/main.js'%}"></script>

</body>
</html>