{% extends 'layouts/base.html' %}

{% load static %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'courseList/css/style.css' %}">
{% endblock %}



{% block content%}

<h1 > Course List</h1>  
<input type="text" id="search" placeholder="live search"></input>
<br>
 <ul>  
     
     <table class="table-form">
            <tr> 
                <th>Название </th> 
                <th> Описание</th>
                <th> Дата начала</th>
                <th> Дата окончания</th>
            </tr> 
            {% for courses in object_list %}
            <tr>
                  
                <td> <a href="{% url 'courseList:detail' courses.id %}">{{courses.title }}</a></td>
                <td>{{courses.body | truncatewords:3}} </td>
                <td>{{courses.startDate | date:"SHORT_DATE_FORMAT"}} </td>
                <td>{{courses.endDate | date:"SHORT_DATE_FORMAT"}} </td>
                <td> | <a href="#">edit</a> | 
                    <a href="#">delete</a>  
                </td>
                
            </tr>
            {% endfor %}
    </table>  

    
 </ul>  
   
<br>

<a href="{% url 'courseList:create' %}">Create New</a>


{% block javascripts %} {% endblock javascripts %}


{% endblock content%} 





